.todo-side-menu {
    margin-top: 35px;
}

.todo-side-menu ul {
    padding: 0;
}

.todo-side-menu li {
    padding-left: 9px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
}

.todo-side-menu span {
    font-size: 16px;
    margin-left: -2px;
}

.todo-side-menu ion-icon {
    font-size: 22px;
    --ionicon-stroke-width: 40px;
}

.content-header {
    display: block;
    margin-bottom: 10px;
}

.content-header ion-toolbar {
    display: block;
}

.content-header ion-title {
    display: block;
}

.content-header .today {
    font-size: 32px;
}

.content-header .today-date {
    margin-top: 3px;
    font-size: 20px;
    font-weight: normal;
}

.page-header .today {
    font-size: 20px;
}

.page-header .today-date {
    display: none;
}
