.my-checkbox {
  display: block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 54px;

  .circle {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #6200ee;
    opacity: 0;
    margin-left: 5px;
    margin-top: 0;
  }

  .circle-1 {
    /*top*/
    background-color: #da3b00;
    top: calc(50% - 26px);
    left: calc(50% - 7px);
  }

  .circle-2 {
    /*bottom*/
    background-color: #0078d4;
    top: calc(50% + 20px);
    left: calc(50% - 7px);
  }

  .circle-3 {
    /*top right*/
    background-color: #fdab43;
    top: calc(50% - 15px);
    left: calc(50% + 14px);
  }

  .circle-4 {
    /*bottom right*/
    background-color: #02ad56;
    top: calc(50% + 9px);
    left: calc(50% + 14px);
  }

  .circle-5 {
    /*top left*/
    background-color: #e3008c;
    top: calc(50% - 15px);
    left: calc(50% - 28px);
  }

  .circle-6 {
    /*bottom left*/
    background-color: #8763b8;
    top: calc(50% + 9px);
    left: calc(50% - 28px);
  }

  .checked {
    &.circle-1, &.circle-2, &.circle-3, &.circle-4, &.circle-5, &.circle-6 {
      animation: checkbox-circle 0.2s ease;
    }
  }

  .mask {
    position: absolute;
    width: calc(100% - 2px);
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background: transparent;
  }

  .checkbox-checked {
    animation: checkbox-reshape 0.2s ease;
  }
}


@keyframes checkbox-circle {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }

  100% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes checkbox-reshape {
  0% {
    transform: scale(0.4);
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.todotask-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-family: var(--ion-font-family, inherit);
  text-align: initial;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  height: 64px;
  cursor: default;
  margin-bottom: 2px;
}

.finished {
  order: 1;
  flex-shrink: 0;
  height: 64px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titles {
  order: 2;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.favorite {
  order: 3;
  flex-shrink: 0;
  margin-right: 10px;
}

.task-item-title {
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-item-subtitle {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$move-to-y: var(--move-to-y);
@keyframes move-item {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: $move-to-y;
  }
}

.move-item {
  z-index: 99999;
  animation: move-item 0.2s ease forwards;
}

@keyframes move-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(66px);
  }
}

.move-down {
  animation: move-down 0.2s ease forwards;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-66px);
  }
}

.move-up {
  animation: move-up 0.2s ease forwards;
}
