.searchbar {
    height: 40px;
    width: calc(100% - 14px);
    border-color: transparent;
    background-color: transparent;
}

.searchbar:focus {
    border-color: transparent;
    background-color: transparent;
    outline: none;
}

.searchbar.ios {
    margin-left: 10px;
}

ion-back-button.ios.custom {
    margin-left: 10px;
}
