ion-header {
  background: transparent;
}

ion-toolbar {
  --background: transparent;
}


ion-item {
  --ion-item-activated: #436af2;
}

@media (prefers-color-scheme: dark) {
  ion-item {
    --ion-item-activated: white;
  }
}
